<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Anton">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
          <script src="app.js"></script>
          <script src="listingController.js"></script>
          <script src="listingFactory.js"></script>
  </head>

  <body ng-app="directoryApp">

    <div class="container">

    <h1>UF Directory App</h1>

      <div class="row" ng-controller="ListingsController">
        <div class="col-s-5">
          <div class="input-group" id="searchBar">
          <span class="input-group-addon" id="sizing-addon1">
              <span class="glyphicon glyphicon-eye-open">
              </span>
          </span>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchBar">
          </div>

          <h2>Listings</h2>

          <div class="listingViewer">
            <table class="table table-hover table-responsive">
                <tr ng-repeat="listing in (search = (listings | orderBy:'code' | filter:searchBar))" ng-click="showDetails(listing)">
                  <td>{{listing.code}}</td>
                  <td>{{listing.name}}</td>
                  <td><button type="button" class="btn"  ng-click ="deleteListing(listing)">
                  <span class="btn-sml"></span> REMOVE
                </button></r></td>
                </tr>
            </table>
          </div>
          <br />

            <div class="jumbotron table-responsive" style="background-color: rgb(0, 45, 179)">
              <h2>Listing Details</h2>
              <p class="details">{{info.address}}</p>
              <p class="details">{{info.latitude}}</p>
              <p class="details">{{info.longitude}}</p>
            </div>

            <div class="jumbotron" style="background-color: DarkBlue" align="center">
               <h2><u>Add A Listing</u></h2>
               <p>Code: </p>
               <p><input type="textbox" ng-model="code"</p>
               <p>Building Name: </p>
               <p>  <input type="textbox" ng-model="name"></p>
               <p>Address:</p>
               <p>  <input type="textbox" ng-model="address"></p>
               <p>Latitude:</p>
               <p>  <input type="number" ng-model="latitude"></p>
               <p>Longitude:</p>
               <p> <input type="number" ng-model="longitude"></p>
               <p><button type="button" class="btn btn-default btn-SM"  ng-click ="newListing()">ADD LISTING</button></p>
              </div>
          </div>
      </div>
    </div>
  </body>
</html>
